version: "3.6"
services:
    db:
        image: postgres:12.5-alpine
        container_name: nest-postgres
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=nest
        ports:
            - 5432:5432
